<div class='nested-fields'>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
    <%= f.label :correct_answer %>
    <%= f.select :correct_answer, [['正解', 'correct' ], ['不正解', 'incorrect' ]], {}, {class: 'select select-bordered w-auto max-w-xs'} %>
    <%= link_to_remove_association "削除" , f %>
  </div>
</div>
