<%= form_with model: @question do |f| %>
  <%= render 'shared/error_message', object: @question %>

  <%= f.label :photo %></br>
  <div class="flex items-center border-2 bg-gray-50 mb-5 py-2 px-3 rounded-2xl">
    <%= f.file_field :photo, class: 'assign-form mb-3', accept: 'image/*', id: 'action-button' %>
  </div>
  <%= f.hidden_field :photo_cache %>
  <div class='mt-3 mb-3'>
    <%= image_tag question.photo.url,
                  id: 'preview',
                  size: '300x200' %>
  </div>
  <%= f.label :content %>
  <div class="flex items-center border-2 bg-gray-50 mb-5 py-2 px-3 rounded-2xl">
    <%= f.text_field :content, class: 'pl-2 w-full outline-none border-none' %>
  </div>
  <%= f.label :comment %>
  <div class="flex items-center border-2 bg-gray-50 mb-5 py-2 px-3 rounded-2xl">
    <%= f.text_field :comment, class: 'assign-form' %>
  </div>
  <%= f.label :level %>
  <div class="flex items-center border-2 bg-gray-50 mb-5 py-2 px-3 rounded-2xl">
    <%= f.select :level, [[1, 'one'], [2, 'two'], [3, 'three']] %>
  </div>
  <%= Choice.model_name.human %>
  <div id='choices'>
    <%= f.fields_for :choices do |choice| %>
      <%= render 'choice_fields', :f => choice %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association '＋選択肢を増やす', f, :choices %>
    </div>
  </div>
  <%= f.submit class:'block w-full bg-yellow-400 mt-3 py-2 rounded-2xl hover:bg-yellow-500 hover:-translate-y-1 transition-all duration-500 text-white font-semibold mb-2' %>
<% end %>
