<section class="text-gray-600 body-font">
  <div class="flex flex-col p-5 mx-auto">
    <div class="text-center bg-gray-100 border-2 border-gray-200 border-opacity-60 p-6 rounded-lg overflow-hidden">
      <%= image_tag question.photo.url, class: 'm-auto', size: '300x300' %>
      <h3 class="text-center break-words text-3xl m-4 link"><%= link_to question.content, question_path(question) %></h3>
      <h4 class="text-center break-words text-xl mx-4 my-2"><%= question.comment %></h4>
      <h4 class="text-center text-xl mx-4 my-2">
        <%= Question.human_attribute_name(:level) %>
        <% case question.level %>
          <% when "one" %>
            <%= icon 'fas', 'star' %>
            <%= icon 'far', 'star' %>
            <%= icon 'far', 'star' %>
          <% when "two" %>
            <%= icon 'fas', 'star' %>
            <%= icon 'fas', 'star' %>
            <%= icon 'far', 'star' %>
          <% else %>
            <%= icon 'fas', 'star' %>
            <%= icon 'fas', 'star' %>
            <%= icon 'fas', 'star' %>
        <% end %>
      </h4>
      <div>
        <%= render 'choices/choices', choices: question.choices %>
      </div>
      <div class="mt-5">
        <div class="btn btn-success text-base-100">
          <%= link_to edit_question_path(question) do %>
            <%= icon 'fa', 'pen' %> <%= t('defaults.edit') %>
          <% end %>
        </div>
        <div class="btn btn-error text-base-100">
          <%= link_to question_path(question), method: :delete do %>
            <%= icon 'fas', 'trash' %> <%= t('defaults.destroy') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
