<% content_for(:title, t('.title')) %>
<div class="common-container">
  <div class="flex flex-col title-font font-medium items-center text-gray-900 mb-2 md: mb-0">
    <h1 class="ml-3 text-3xl m-3"><%= t '.title' %></h1>
    <!-- 質問一覧 -->
    <% if @questions.present? %>
      <%= render @questions %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
    <!-- リンク -->
    <div class="pt-5">
      <button class="text-orange-500 text-md font-bold"><%= link_to t('defaults.mypage'), mypage_path %></button>
      <button class="text-orange-500 text-md font-bold"><%= link_to t('defaults.new_question'), new_question_path %></button>
      <button class="text-orange-500 text-md font-bold"><%= link_to t('defaults.quizzes'), user_quizzes_path(user_id: current_user.id) %></button>
    </div>
  </div>
</div>
