<h1>New Question</h1>

<%= render 'form', question: @question %>

<!-- リンク -->
<%= link_to t('defaults.top'), root_path %>
<%= link_to t('defaults.mypage'), mypage_path %>
<%= link_to t('defaults.new_question'), new_question_path %>
<%= link_to t('defaults.quizzes'), quizzes_path %>
<%= link_to t('defaults.preview'), '#' %>
