<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
    <h1><%= t('.title') %></h1>
      <article class="card">
        <div class='col-md-3'>
          <%= image_tag @question.photo.url, class: 'card-img-top img-fluid', size: '500x500' %>
        </div>
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h5><%= @question.content %></h5>
              <p><%= @question.comment %></p>
              <p><%= t('.level', level: @question.level) %></p>
            </div>
          </div>
          <div class="js-table-choice">
            <%= render 'choices/form', { question: @question, choice: @choice } %>
          </div>
          <div class="js-table-choice">
            <%= render 'choices/choices', { choices: @choices } %>
          </div>
          <%= link_to t('defaults.edit'), edit_question_path(@question) %>
          <%= link_to t('defaults.destroy'), question_path(@question), method: :delete %>
          <%= link_to t('defaults.questions'), questions_path %>
        </div>
      </article>
    </div>
  </div>
</div>
