<div class="common-container">
  <div class="flex flex-col title-font font-medium items-center text-gray-900 mb-4 md: mb-0">
    <h1 class="text-2xl text-gray-600 mx-auto px-6 py-3 text-center"><%= t '.title' %></h1>
      <article class="card">
        <div class='col-md-3'>
          <%= image_tag @question.photo.url, class: 'card-img-top img-fluid', size: '500x500' %>
        </div>
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h3 class="text-center text-2xl m-4"><%= t '.q' %>. <%= @question.content %></h5>
              <h4 class="text-center text-xl mx-4 my-2">
                <%= Question.human_attribute_name(:level) %>
                <% case @question.level %>
                  <% when "one" %>
                    <%= icon 'fas', 'star' %>
                    <%= icon 'far', 'star' %>
                    <%= icon 'far', 'star' %>
                  <% when "two" %>
                    <%= icon 'fas', 'star' %>
                    <%= icon 'fas', 'star' %>
                    <%= icon 'far', 'star' %>
                  <% else %>
                    <%= icon 'fas', 'star' %>
                    <%= icon 'fas', 'star' %>
                    <%= icon 'fas', 'star' %>
                <% end %>
              </h4>
              <p><%= @question.comment %></p>
              <p><%= t('.level', level: @question.level) %></p>
            </div>
          </div>
          <div class="js-table-choice">
            <%= render 'choices/choices', { choices: @choices } %>
          </div>
          <%= link_to t('defaults.edit'), edit_question_path(@question) %>
          <%= link_to t('defaults.destroy'), question_path(@question), method: :delete %>
          <%= link_to t('defaults.questions'), questions_path %>
        </div>
      </article>
    </div>
</div>
