<p>
  <strong>Photo:</strong>
  <div class='col-md-3'>
    <%= image_tag @question.photo.url, class: 'card-img-top img-fluid', size: '300x200' %>
  </div>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @question.comment %>
</p>

<p>
  <strong>Level:</strong>
  <%= @question.level %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Destroy', question_path(@question), method: :delete %> |
<%= link_to 'Back', questions_path %>
