<%= form_with model: quiz, url: quiz_path do |f| %>
  <%= render 'shared/error_message', object: quiz %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
  <%= f.label :explain %>
  <%= f.text_field :explain, class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
  <div>
    <p class="text-xl text-gray-900"><%= QuizTop.model_name.human %></p>
    <div id='quiz_tops'>
      <%= f.fields_for :quiz_tops do |quiz_top| %>
        <%= render 'quiz_top_fields', :f => quiz_top %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association '＋画像を増やす', f, :quiz_tops, class: "link link-hover" %>
      </div>
    </div>
  </div>
  <%= f.submit class:'btn btn-accent mb-5' %>
<% end %>
