<div class='nested-fields'>
  <div class="field">
    <div><%= f.label :photo %></div>
    <div>
      <%= f.file_field :photo, accept: 'image/*', id: 'action-button', class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
      <%# <%= f.hidden_field :photo_cache %> %>
      <%# <div class='mt-3 mb-3'> %>
        <%# <%= image_tag quiz_top.photo.url, %>
                      <%# id: 'preview', %>
                      <%# size: '300x200' %>
      <%# </div> %>
      <%= link_to_remove_association "削除" , f %>
    </div>
  </div>
</div>
