<%= form_with model: message, url: {controller: 'messages', action: 'create', user_id: @user.id }, local:true do |f| %>
  <%= render 'shared/error_message', object: message %>
  <%= f.label :name %>
  <div class="flex items-center mb-5 py-2 px-3 rounded-2xl">
    <%= f.text_field :name, class: 'input input-bordered input-secondary w-full max-w-xs' %>
  </div>
  <%= f.label :body, class: 'mt-3' %>
  <div class="flex items-center mb-5 py-2 px-3 rounded-2xl">
    <%= f.text_area :body, class: 'textarea textarea-secondary w-full max-w-xs' %>
  </div>
  <%= f.hidden_field :quiz_1, :value => @quiz_1.id %>
  <%= f.hidden_field :quiz_2, :value => @quiz_2.id %>
  <%= f.hidden_field :quiz_3, :value => @quiz_3.id %>
  <%= f.hidden_field :choice_1, :value => @choice_1.id %>
  <%= f.hidden_field :choice_2, :value => @choice_2.id %>
  <%= f.hidden_field :choice_3, :value => @choice_3.id %>
  <div class="flex items-center mb-5 py-2 px-3 rounded-2xl">
    <%= f.submit class:'btn btn-yellow-400 w-full max-w-xs mt-3 py-2'%>
  </div>
<% end %>
