<%= form_with model: message, url: result_path, local: true do |f| %>
  <%= render 'shared/error_message', object: message %>
  <div class="form-control">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'assign-form' %>
  </div>
  <div class="form-control">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'textarea textarea-primary' %>
  </div>
  <%= f.hidden_field :first_question, :value => @first_question.id %>
  <%= f.hidden_field :second_question, :value => @second_question.id %>
  <%= f.hidden_field :third_question, :value => @third_question.id %>
  <%= f.hidden_field :first_choice, :value => @first_choice.id %>
  <%= f.hidden_field :second_choice, :value => @second_choice.id %>
  <%= f.hidden_field :third_choice, :value => @third_choice.id %>
  <%= f.submit class:'btn btn-primary'%>
<% end %>
