<div class="bg-gray-50">
  <div class="container px-5 pb-5 mx-auto">
    <p class="font-medium text-3xl text-gray-900 m-4"><%= t '.title' %></p>
    <div class="flex flex-wrap -m-4 mb-5">
      <%= render @messages %>
    </div>

    <div class="link link-primary">
      <%= link_to t('defaults.mypage'), mypage_path, class: "mr-5" %>
      <%= link_to t('defaults.new_question'), new_question_path, class: "mr-5" %>
      <%= link_to t('defaults.quizzes'), user_quizzes_path(current_user), class: "mr-5" %>
    </div>
  </div>
</div>
