<% set_meta_tags title: 'クイズ結果' %>
<div class="bg-gray-50">
  <div class="result-container title-font md: mb-0">
    <% if @message %>
      <div class="after-sent-message">
        <div class="bg-base-100">
          <div class="result-container title-font md: mb-0">
            <h4 class="text-xl border border-yellow-300 mx-auto mb-6 px-6 py-3 text-center"><%= simple_format(t('.message_sent')) %></h4>
          </div>
        </div>
      </div>
    <% end %>
    <h1 class="text-2xl text-gray-600 mx-auto px-6 py-3 text-center"><%= t '.title' %></h1>
    <h1 class="text-3xl mx-auto px-6 py-3 text-center text-orange-500"><%= t('.score', score: @score) %></h2>
    <%= render 'messages/question', question: @quiz_1 %>
    <%= render 'messages/question', question: @quiz_2 %>
    <%= render 'messages/question', question: @quiz_3 %>
    <h4 class="text-xl mx-auto mt-6 px-6 py-3 text-center"><%= simple_format(t('.thanks_message')) %></h4>
    <h4 class="text-xl mx-auto px-6 py-3 text-center"><%= simple_format(t('.enjoy_message')) %></h4>
    <% if @message %>
      <div class="after-sent-message">
        <div class="bg-base-100">
          <% if @user.quiz_top.twitter_share %>
            <div class="result-container title-font md: mb-0">
              <h4 class="text-md mx-auto px-6 py-3 text-center"><%= simple_format(t('.share')) %></h4>
              <%= render 'twitter_point', user: @user, score: @score %>
            </div>
          <% end %>
          <div class="result-container title-font md: mb-0">
            <h4 class="text-md mx-auto px-6 py-3 text-center"><%= simple_format(t('.once_more')) %></h4>
            <button class="text-orange-500 text-md font-bold"><%= link_to t('.try_again'), user_quiz_top_path(user_id: @user.id) %></button>
          </div>
        </div>
      </div>
    <% else %>
      <div class="before-send-message">
        <h4 class="text-xl mx-auto mb-6 px-6 py-3 text-center"><%= simple_format(t('.message_please')) %></h4>
        <%= render 'form', message: @new_message %>
      </div>
    <% end %>
  </div>
</div>
