<div class="bg-base-100">
  <div class="result-container title-font md: mb-0">
    <h1 class="quiz-title"><%= t '.title' %></h1>
    <h1 class="quiz-title"><%= t('.score', score: @score) %></h2>
    <%= render 'messages/question', question: @first_question %>
    <%= render 'messages/question', question: @second_question %>
    <%= render 'messages/question', question: @third_question %>
    <h4 class="text-xl mx-auto mt-6 px-6 py-3 text-center"><%= t('.thanks_message') %></h4>
    <h4 class="text-xl mx-auto px-6 py-3 text-center"><%= t('.enjoy_message') %></h4>
    <% if @message %>
      <div class="after-sent-message">
        <div class="bg-base-100">
          <div class="result-container title-font md: mb-0">
            <h4 class="text-xl mx-auto mb-6 px-6 py-3 text-center"><%= t('.message_sent') %></h4>
          </div>
        </div>
      </div>
    <% else %>
      <div class="before-send-message">
        <h4 class="text-xl mx-auto mb-6 px-6 py-3 text-center"><%= t('.message_please') %></h4>
        <%= render 'form', message: @new_message %>
      </div>
    <% end %>
    <button class="btn btn-link"><%= link_to t('defaults.quizzes'), quizzes_path %></button>
  </div>
</div>
