<div class="bg-base-100">
  <div class="result-container title-font md: mb-0">
    <h1 class="quiz-title"><%= t '.title' %></h1>
    <h1 class="quiz-title"><%= t('.score', score: @score) %></h2>
    <%= render 'messages/question', question: @first_question %>
    <%= render 'messages/question', question: @second_question %>
    <%= render 'messages/question', question: @third_question %>
    <p><%= t('.thanks_message') %></p>
    <p><%= t('.enjoy_message') %></p>
    <p><%= t('.message_sent') %></p>
    <%= render 'form', message: @message %>
    <button class="btn btn-link"><%= link_to t('defaults.quizzes'), quizzes_path %></button>
  </div>
</div>
