<div class="common_container">
  <div class="flex flex-col title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
    <p class="font-medium text-3xl text-gray-900 m-4"><%= t '.title' %></p>
    <%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
      <%= render 'shared/error_message', object: @user %>
      <div>
        <%= f.label :email %>
        <%= @user.email %>
      </div>
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
      <%= f.submit class:'btn btn-accent mb-5' %>
    <% end %>
  </div>
</div>
