<%= form_with model: quiz_top, url: quiz_top_path do |f| %>
  <%= render 'shared/error_message', object: quiz_top %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
  </div>
  <div>
    <%= f.label :photo %></br>
    <%= f.file_field :photo, accept: 'image/*', id: 'action-button', class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
    <%= f.hidden_field :photo_cache %>
  </div>
  <div class='mt-3 mb-3'>
    <%= image_tag quiz_top.photo.url,
                  id: 'preview',
                  size: '300x300' %>
  </div>
  <div>
    <%= f.label :explain %>
    <%= f.text_field :explain, class: 'input input-bordered w-full mb-3 px-4 py-3 rounded-full' %>
  </div>
  <%= f.submit class:'btn btn-accent mb-5' %>
<% end %>
