<%= form_with model: choice, url: [question, choice], local: true do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'assign-form' %>
  </div>
  <div class="field">
    <%= f.label :correct_answer %>
    <%= f.select :correct_answer, [['正解', 'correct'], ['不正解', 'incorrect']] %>
  </div>
  <%= f.submit class: 'btn btn-accent' %>
<% end %>
