<%= form_with model: choice, url: [question, choice], id: new_choice do |f| %>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :correct_answer %>
    <%= f.number_field :correct_answer %>
  </div>
  <%= f.submit, class: 'btn btn-primary' %>
<% end %>
