<%= form_with(model: user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: "assign-form" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email, class: "assign-form" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, class: "assign-form" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "assign-form" %>
  </div>

  <div class="actions">
    <%= f.submit t('defaults.register'), class: "btn btn-accent" %>
  </div>
<% end %>
