<div class="common-container">
  <div class="flex flex-col title-font font-medium items-center text-gray-900">
    <h1 class="ml-3 text-3xl m-6"><%= t '.title' %></h1>
    <button class="choice-btn">
      <%= link_to t('defaults.new_question'), new_question_path %>
    </button>
    <button class="choice-btn">
      <%= link_to t('defaults.questions'), questions_path %>
    </button>
    <button class="choice-btn">
      <%= link_to t('defaults.quizzes'), user_quizzes_path(current_user) %>
    </button>
    <button class="choice-btn">
      <%= link_to t('.messages_index'), messages_path %>
    </button>
    <button class="choice-btn">
      <%= link_to t('.edit'), edit_mypage_path %>
    </button>
    <div class="overflow-x-auto">
      <table class="table w-full">
        <thead>
          <tr>
            <th><%= User.human_attribute_name(:name) %></th>
            <th><%= User.human_attribute_name(:email) %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= current_user.name %></td>
            <td><%= current_user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
