<div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
  <div class="row">
    <div class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <h1 class="ml-3 text-3xl"><%= t '.title' %></h1>
    </div>
      <div class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <button class="menu-btn focus hover">
          <%= link_to t('.create_quiz'), new_question_path %>
        </button>
        <button class="menu-btn focus hover">
          <%= link_to t('.questions'), questions_path %>
        </button>
        <button class="menu-btn focus hover">
          <%= link_to t('.quizzes'), quizzes_path %>
        </button>
        <button class="menu-btn focus hover">
          <%= link_to t('.messages_index'), messages_path %>
        </button>
      </div>
      <div class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <button class="menu-btn focus hover">
          <%= link_to t('.edit'), edit_mypage_path %>
        </button>
        <table class="table">
          <tr>
            <th scope="row"><%= User.human_attribute_name(:email) %></th>
            <td><%= current_user.email %></td>
          </tr>
          <tr>
            <th scope="row"><%= t '.name' %></th>
            <td><%= current_user.name %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
