<p class="card-text">
  <%= form_with model: @third_question, url: third_question_path(@third_question), method: :get, local:true do |f| %>
    <!-- 設定したquestionの情報 -->
    <%= f.hidden_field :first_question, :value => @first_question.id %>
    <%= f.hidden_field :second_question, :value => @second_question.id %>
    <!-- 回答したchoiceの情報 -->
    <%= f.hidden_field :first_choice, :value => @first_choice.id %>
    <%= f.hidden_field :second_choice, :value => choice.id %>
    <%= f.submit choice.content, class: 'btn btn-info' %>
  <% end %>
</p>
