<article class="card">
  <div class='col-md-3'>
    <%= image_tag question.photo.url, class: 'card-img-top img-fluid', size: '500x500' %>
  </div>
  <div class="card-body">
    <div class='row'>
      <div class='col-md-9'>
        <h5><%= question.content %></h5>
        <p><%= question.comment %></p>
        <p><%= t('.level', level: question.level) %></p>
      </div>
    </div>
    <div class="table-choice">
      <%= render 'second_questions/choices', choices: @choices %>
    </div>
  </div>
</article>
