<tr class="text-gray-700 dark:text-gray-400">
  <td class="px-4 py-3">
    <div class="flex items-center text-sm">
      <div>
        <p class="font-semibold"><%= user.name %></p>
      </div>
    </div>
  </td>
  <td class="px-4 py-3 text-sm">
    <%= user.email %>
  </td>
  <td class="px-4 py-3 text-xs">
    <span
      class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100"
    >
      <%= user.role %>
    </span>
  </td>
  <td class="px-4 py-3 text-sm">
    <%= user.created_at %>
  </td>
  <td>
    <%= link_to t('defaults.show'), admin_user_path(user), class: 'btn btn-info' %>
    <%= link_to t('defaults.edit'), edit_admin_user_path(user), class: 'btn btn-success' %>
    <%= link_to t('defaults.destroy'), admin_user_path(user), method: :delete, data: { confirm: t('defaults.message.delete_confirm') }, class: 'btn btn-danger' %>
  </td>
</tr>
