<p id="notice"><%= notice %></p>

<h1>Challengers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @challengers.each do |challenger| %>
      <tr>
        <td><%= challenger.name %></td>
        <td><%= challenger.message %></td>
        <td><%= link_to 'Show', challenger %></td>
        <td><%= link_to 'Edit', edit_challenger_path(challenger) %></td>
        <td><%= link_to 'Destroy', challenger, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Challenger', new_challenger_path %>
