<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenger.name %>
</p>

<p>
  <strong>Message:</strong>
  <%= @challenger.message %>
</p>

<%= link_to 'Edit', edit_challenger_path(@challenger) %> |
<%= link_to 'Back', challengers_path %>
